{% load static %}
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="{% url 'blog:post_list' %}">
      <img src="" width="30" height="30" class="d-inline-block align-top" alt="">
      MySite
    </a>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'blog:post_list' %}">Home</a>
        </li>
        {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'blog:post_list' %}">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'blog:post_create' %}">NewPost</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'blog:contact' %}">Contact_US</a>
          </li>
          <!-- Add Reading List link here -->
          <li class="nav-item">
            <a class="nav-link" href="{% url 'blog:reading_list' %}">
              <i class="fas fa-bookmark"></i> Reading List
              {% if user.is_authenticated and user.reading_list %}
              <span class="badge badge-light ml-1">{{ user.reading_list.post_count }}</span>
              {% endif %}
            </a>
          </li>
        {% endif %}
      </ul>

      <!-- Search Form -->
      <form class="form-inline my-2 my-lg-0 mx-2" action="{% url 'blog:post_search' %}" method="get">
        <div class="input-group">
          <input class="form-control" type="search" name="query" placeholder="Search posts..." aria-label="Search" required>
          <div class="input-group-append">
            <button class="btn btn-outline-primary" type="submit">
              <i class="fas fa-search"></i>
            </button>
          </div>
        </div>
      </form>
      
      <ul class="navbar-nav ml-auto">
        {% if user.is_authenticated %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown">
              <i class="fas fa-user-circle"></i> {{ user.username }}
              {% if user.reading_list %}
              <span class="badge badge-pill badge-light ml-1">{{ user.reading_list.post_count }}</span>
              {% endif %}
            </a>
            <div class="dropdown-menu dropdown-menu-right">
              <a class="dropdown-item" href="{% url 'blog:user_profile' %}">
                <i class="fas fa-user"></i> Profile
              </a>
              <a class="dropdown-item" href="{% url 'blog:reading_list' %}">
                <i class="fas fa-bookmark"></i> Reading List
                <span class="badge badge-primary float-right">{{ user.reading_list.post_count }}</span>
              </a>
              <a class="dropdown-item" href="">
                <i class="fas fa-cog"></i> Settings
              </a>
              <div class="dropdown-divider"></div>
              <form method="post" action="{% url 'logout' %}" class="dropdown-item-form">
                {% csrf_token %}
                <button type="submit" class="dropdown-item text-danger" id="logout-button">
                  <i class="fas fa-sign-out-alt me-2"></i>Logout
                  <span class="small text-muted ms-2">({{ request.user.username }})</span>
                </button>
              </form>
            </div>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">
              <i class="fas fa-sign-in-alt"></i> Login
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'blog:register' %}">
              <i class="fas fa-user-plus"></i> Register
            </a>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>

<!-- Include Font Awesome for icons -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

<!-- Bootstrap JS for dropdown functionality -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>

